<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "line-spin-fade" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="modal-header" >
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
  <div *ngIf="statusCheck == 'Add'">
    <h5 class="modal-title">
      <i class="fas fa-plus"></i>
      Add Delivery Schedule
    </h5>
  </div>
  <div *ngIf="statusCheck == 'Edit'">
    <h5 class="modal-title">
      <i class="far fa-edit fa-fw"></i>
      Edit Delivery Schedule
    </h5>
  </div>
</div>

  
  <div class="modal-body BG p-2">
    <form #deliveryForm="ngForm" novalidate>
  
  
  
  
      <!-- <div class="col-md-12 pt-3 pb-2" *ngIf="this.statusCheck !='Edit'"> -->
      <div class="row justify-content-center">
        <div class="col-10 col-md-11 pt-3 pb-2" *ngIf="this.statusCheck !='Edit'">
  
          <div class="form-group row" *ngIf="loggedInDepartmentName == 'Yarn Export' || loggedInDepartmentName == 'Yarn Export Bangladesh' || loggedInDepartmentName == 'Fabric Export' || loggedInDepartmentName == 'Yarn Import' || loggedInDepartmentName == 'Synthetic Fibers'">
            <label for="itemQuantity" class="col-md-3 col-form-label text_Navy"> L/C No.
            </label>
  
            <div class="col-md-8">
  
              <ng-select [(ngModel)]="data.lcNo" #lcNo="ngModel" placeholder="Select L/C" name="lcNo">
                <!-- <ng-option *ngFor = "let i of containers" [value] = "i.id">{{i.containerName}}</ng-option> -->
              </ng-select>
  
            </div>
  
          </div>
  


          <div class="form-group row">
            <label class="col-md-3 col-form-label text_Navy">Supplier Date
              <!-- <span class="required-denote">*</span> -->
            </label>
          
            <div class="col-md-8">
              <div class="row">
            
                <div class="col-md-6">
                  <input class="form-control" name="supplierDateDay" placeholder="Day" [(ngModel)]="data.supplierDateDay"
                    #supplierDateDay="ngModel" />
                </div>
            
                <div class="col-md-3">
                  <ng-select placeholder="Month" name="supplierDateMonth" [(ngModel)]="data.supplierDateMonth"
                    #supplierDateMonth="ngModel">
                    <ng-option value="Jan"> Jan</ng-option>
                    <ng-option value="Feb"> Feb</ng-option>
                    <ng-option value="Mar"> Mar</ng-option>
                    <ng-option value="Apr"> Apr</ng-option>
                    <ng-option value="May"> May</ng-option>
                    <ng-option value="Jun"> Jun</ng-option>
                    <ng-option value="Jul"> Jul</ng-option>
                    <ng-option value="Aug"> Aug</ng-option>
                    <ng-option value="Sep"> Sep</ng-option>
                    <ng-option value="Oct"> Oct</ng-option>
                    <ng-option value="Nov"> Nov</ng-option>
                    <ng-option value="Dec"> Dec</ng-option>
                  </ng-select>
                </div>
                <div class="col-md-3">
                  <ng-select placeholder="Year" name="supplierDateYear" [(ngModel)]="data.supplierDateYear"
                    #supplierDateYear="ngModel">
              <ng-option value="2016">2016</ng-option>
<ng-option value="2017">2017</ng-option>
<ng-option value="2018">2018</ng-option>
<ng-option value="2019">2019</ng-option>
<ng-option value="2020">2020</ng-option>
<ng-option value="2021">2021</ng-option>
<ng-option value="2022">2022</ng-option>
<ng-option value="2023">2023</ng-option>
<ng-option value="2024">2024</ng-option>
<ng-option value="2025">2025</ng-option>
<ng-option value="2026">2026</ng-option>
<ng-option value="2027">2027</ng-option>
<ng-option value="2028">2028</ng-option>
<ng-option value="2029">2029</ng-option>
<ng-option value="2030">2030</ng-option>
<ng-option value="2031">2031</ng-option>
<ng-option value="2032">2032</ng-option>
<ng-option value="2033">2033</ng-option>
<ng-option value="2034">2034</ng-option>
<ng-option value="2035">2035</ng-option>
<ng-option value="2036">2036</ng-option>
<ng-option value="2037">2037</ng-option>
<ng-option value="2038">2038</ng-option>
<ng-option value="2039">2039</ng-option>
<ng-option value="2040">2040</ng-option>

                  </ng-select>
                </div>
            
              </div>
            </div>

          </div>
  
  
          <div class="form-group row">
            <label class="col-md-3 col-form-label text_Navy">Buyer Date
              <!-- <span class="required-denote">*</span> -->
            </label>
          
            <div class="col-md-8">
              <div class="row">

                <div class="col-md-6">
                  <input class="form-control" name="buyerDateDay" placeholder="Day" [(ngModel)]="data.buyerDateDay"
                    #buyerDateDay="ngModel" />
                </div>

                <div class="col-md-3">
                  <ng-select placeholder="Month" name="buyerDateMonth" [(ngModel)]="data.buyerDateMonth"
                    #buyerDateMonth="ngModel">
                    <ng-option value="Jan"> Jan</ng-option>
                    <ng-option value="Feb"> Feb</ng-option>
                    <ng-option value="Mar"> Mar</ng-option>
                    <ng-option value="Apr"> Apr</ng-option>
                    <ng-option value="May"> May</ng-option>
                    <ng-option value="Jun"> Jun</ng-option>
                    <ng-option value="Jul"> Jul</ng-option>
                    <ng-option value="Aug"> Aug</ng-option>
                    <ng-option value="Sep"> Sep</ng-option>
                    <ng-option value="Oct"> Oct</ng-option>
                    <ng-option value="Nov"> Nov</ng-option>
                    <ng-option value="Dec"> Dec</ng-option>
                  </ng-select>
                </div>

                <div class="col-md-3">
                  <ng-select placeholder="Year" name="buyerDateYear" [(ngModel)]="data.buyerDateYear" #buyerDateYear="ngModel">
                   <ng-option value="2016">2016</ng-option>
<ng-option value="2017">2017</ng-option>
<ng-option value="2018">2018</ng-option>
<ng-option value="2019">2019</ng-option>
<ng-option value="2020">2020</ng-option>
<ng-option value="2021">2021</ng-option>
<ng-option value="2022">2022</ng-option>
<ng-option value="2023">2023</ng-option>
<ng-option value="2024">2024</ng-option>
<ng-option value="2025">2025</ng-option>
<ng-option value="2026">2026</ng-option>
<ng-option value="2027">2027</ng-option>
<ng-option value="2028">2028</ng-option>
<ng-option value="2029">2029</ng-option>
<ng-option value="2030">2030</ng-option>
<ng-option value="2031">2031</ng-option>
<ng-option value="2032">2032</ng-option>
<ng-option value="2033">2033</ng-option>
<ng-option value="2034">2034</ng-option>
<ng-option value="2035">2035</ng-option>
<ng-option value="2036">2036</ng-option>
<ng-option value="2037">2037</ng-option>
<ng-option value="2038">2038</ng-option>
<ng-option value="2039">2039</ng-option>
<ng-option value="2040">2040</ng-option>

                  </ng-select>
                </div>
          
              </div>
            </div>
          
          </div>
  

  
          <div class="form-group row">
            <label for="itemQuantity" class="col-md-3 col-form-label text_Navy"> Quantity</label>
          
            <div class="col-md-8">
              <div class="row">
          
                <div class="col-md-5">
                  <input type="number" min="0" class="form-control" value="" placeholder="Quantity" [(ngModel)]="data.quantity"
                    value="" name="quantity" #quantity="ngModel" />
                </div>

                <div class="col-md-7">
                  <ng-select [(ngModel)]="data.quantityUOMId" #quantityUOMId="ngModel" placeholder="Unit" name="quantityUOMId">
                    <ng-option *ngFor="let i of uomList" [value]="i.id">{{i.name}}</ng-option>
                  </ng-select>
                </div>
          
              </div>
            </div>
          
          </div>



          <div class="form-group row"
            *ngIf="loggedInDepartmentName=='Fabric Local' || loggedInDepartmentName == 'Yarn Export' || loggedInDepartmentName == 'Yarn Export Bangladesh' || loggedInDepartmentName == 'Yarn Import' || loggedInDepartmentName == 'Synthetic Fibers'">
            <label for="itemQuantity" class="col-md-3 col-form-label text_Navy"> Container
            </label>
  
            <div class="col-md-8">
  
              <ng-select [(ngModel)]="data.containerId" #containerId="ngModel" placeholder="Containers"
                name="containerId">
                <ng-option *ngFor="let i of containers" [value]="i.id">{{i.containerName}}</ng-option>
              </ng-select>
  
            </div>
  
          </div>


        </div>
      </div>
  
  
  
  
  
  
  
  
  
  
  
  
      <!-- <div class="col-md-12 pt-3 pb-2" *ngIf="this.statusCheck =='Edit'"> -->

        <div class="row justify-content-center">
          <div class="col-10 col-md-11 pt-3 pb-2" *ngIf="this.statusCheck =='Edit'">
        
            <div class="form-group row" *ngIf="loggedInDepartmentName == 'Yarn Export' || loggedInDepartmentName == 'Yarn Export Bangladesh' || loggedInDepartmentName == 'Fabric Export'">
              <label class="col-md-3 col-form-label text_Navy"> L/C No.
              </label>
        
              <div class="col-md-8">
        
                <ng-select [(ngModel)]="data.lcNo" #lcNo="ngModel" placeholder="Select L/C" name="lcNo">
                  <!-- <ng-option *ngFor = "let i of containers" [value] = "i.id">{{i.containerName}}</ng-option> -->
                </ng-select>
        
              </div>
        
            </div>
        
            <div class="form-group row">
              <label class="col-md-3 col-form-label text_Navy">Supplier Date
                <!-- <span class="required-denote">*</span> -->
              </label>
              <div class="col-md-8">
                <input class="form-control" name="supplierDateDay" placeholder="Day" [(ngModel)]="data.supplierDateDay"
                  #supplierDateDay="ngModel" />
        
              </div>
        
            </div>
        
            <div class="form-group row">
              <label class="col-md-3 col-form-label text_Navy">Buyer Date
                <!-- <span class="required-denote">*</span> -->
              </label>
              <div class="col-md-8">
                <input class="form-control" name="buyerDateDay" placeholder="Day" [(ngModel)]="data.buyerDateDay"
                  #buyerDateDay="ngModel" />
        
              </div>
        
            </div>
        
        
            <div class="form-group row">
              <label for="itemQuantity" class="col-md-3 col-form-label text_Navy"> Quantity</label>
            
              <div class="col-md-8">
                <div class="row">
            
            
                  <div class="col-md-5">
                    <input type="number" min="0" class="form-control" value="" placeholder="Quantity" [(ngModel)]="data.quantity"
                      value="" name="quantity" #quantity="ngModel" />
                  </div>
                  <div class="col-md-7">
            
                    <ng-select [(ngModel)]="data.quantityUOMId" #quantityUOMId="ngModel" placeholder="Unit" name="quantityUOMId">
                      <ng-option *ngFor="let i of uomList" [value]="i.id">{{i.name}}</ng-option>
                    </ng-select>
            
                  </div>
            
                </div>
              </div>
            
            </div>
        

            <div class="form-group row"
              *ngIf="loggedInDepartmentName=='Fabric Local' || loggedInDepartmentName == 'Yarn Export' || loggedInDepartmentName == 'Yarn Export Bangladesh'">
              <label for="itemQuantity" class="col-md-3 col-form-label text_Navy"> Container
              </label>
        
              <div class="col-md-8">
        
                <ng-select [(ngModel)]="data.containerId" #containerId="ngModel" placeholder="Containers" name="containerId">
                  <ng-option *ngFor="let i of containers" [value]="i.id">{{i.containerName}}</ng-option>
                </ng-select>
        
              </div>
        
            </div>
        
          </div>
        </div>
  
  
  
  
      <div class="modal-footer NotBG">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"
          (click)="activeModal.close()">Close</button>
        <button class="btn button-save" *ngIf="statusCheck == 'Add'" type="submit" (click)="onSubmit('Add')">
          Save And Close
        </button>
  
        <button *ngIf="statusCheck == 'Edit'" class="btn button-save" type="submit" (click)="onSubmit('Edit')">
          Update
        </button>
  
      </div>
  
    </form>
  </div>